<h1>ADDRESS CHECKER</h1>
<table class="ip-table">
    <tbody>
        <tr class="ip-tr">
            <td class="ip-td1">IP Address</td>
            <td class="ip-td2"><%=@remote_ip%></td>
        </tr>
        <tr class="ip-tr">
            <td class="ip-td1">ACCESS TIME</td>
            <td class="ip-td2"><%=@access_time%></td>
        </tr>
        <tr class="ip-tr">
            <td class="ip-td1">HTTP VERSION</td>
            <td class="ip-td2"><%=@http_version%></td>
        </tr>
        <tr class="ip-tr">
            <td class="ip-td1">REQUEST METHOD</td>
            <td class="ip-td2"><%=@request_method%></td>
        </tr>
        <tr class="ip-tr">
            <td class="ip-td1">REQUEST URI</td>
            <td class="ip-td2"><%=@request_uri%></td>
        </tr>
        <tr class="ip-tr">
            <td class="ip-td1">USER AGENT</td>
            <td class="ip-td2"><%=@user_agent%></td>
        </tr>
        <tr class="ip-tr">
            <td class="ip-td1">HTTP HOST</td>
            <td class="ip-td2"><%=@http_host%></td>
        </tr>
        <tr class="ip-tr">
            <td class="ip-td1">REMOTE ADDR</td>
            <td class="ip-td2"><%=@remote_addr%></td>
        </tr>
        <tr class="ip-tr">
            <td class="ip-td1">SERVER PORT</td>
            <td class="ip-td2"><%=@server_port%></td>
        </tr>
    </tbody>
</table>